<div id="header">
  <h1><%= link_to 'Will', '/' %></h1>
</div>
<main>
  <div id="box">
    <div id="subheader">
      <h2>Web Developer</h2>
    </div>
    <%= partial "partials/navbar", locals: { current_page: 'projects' } %>
    <%= partial "socials" %>
    <div class="section">
      <p><!-- Your project content goes here --></p>
    </div>
  </div>
</main>
