.projects-section {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: #eeeeea;
  }

  .wrapper {
    margin-top: 3rem;
    width: 80%;* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
  }

  body {
      background-color: #eeeeea;
  }


  .container {
      height: 350px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
  }

  .card {
      width: 80px;
      background-color: transparent;
      position: relative;
      border-radius: .75rem;
      // background-size: cover;
      cursor: pointer;
      overflow: hidden;
      border-radius: 2rem;
      margin: 0 10px;
      display: flex;
      align-items: flex-end;
      transition: background-image 0.3s ease;
      transition: .8s cubic-bezier(.28,-0.03,0,.99);
      box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  }

  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 73%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.2s ease-in-out;
    z-index: 0;
  }

  .card > * {
    position: relative;
    z-index: 1;
  }

  .card-1::before {
    background-image: url('/images/projects/tokyo_turntable_home.png');
  }
  .card-2::before {
    background-image: url('/images/projects/rentool_home.png');
  }
  .card-3::before {
    background-image: url('/images/projects/films_home.png');
  }

  input#c1:checked + label.card-1::before,
  input#c2:checked + label.card-2::before,
  input#c3:checked + label.card-3::before {
    opacity: 1;
}

  .card > .row {
      color: white;
      display: flex;
      flex-wrap: nowrap;
  }

  .card > .row > .icon {
      background: #223;
      color: white;
      border-radius: 50%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
  }

  .card > .row > .description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 80px;
      width: 520px;
      opacity: 0;
      transform: translateY(30px);
      transition-delay: .3s;
      transition: all .3s ease;
      padding-bottom: 8px;
  }

  .description p {
      color: #b0b0ba;
      // padding-top: 5px;
  }

  .description h4 {
      text-transform: uppercase;
  }

  input {
      display: none;
  }

  input:checked + label {
      width: 600px;
  }

  input:checked + label .description {
      opacity: 1 !important;
      transform: translateY(0) !important;
  }

    display: flex;
    align-items: center;
    justify-content: center;
  }


  .card-title {
    display: inline;
  }

  .tech-tags {
    margin: 8px;
  }
  .tech-tags span {
    background-color: grey;
    border-radius: 24px;
    padding: 2px 4px;
  }

}
