<div id="box">
  <!-- Floating Planets -->
  <div class="planet planet-1"></div>
  <div id="subheader">
    <h2>Web Developer</h2>
  </div>
  <%= partial "partials/navbar" %>
  <%= partial "socials" %>
</div>
