<% content_for :page_class, "info-page" %>
<div id="box">
  <div id="subheader">
    <h2>Web Developer</h2>
  </div>
  <%= partial "partials/navbar", locals: { current_page: 'info' } %>
  <%= partial "partials/socials" %>
  <div class="info-section">
    <p>Recent graduate of Le Wagon's Web Development Bootcamp in Tokyo. Looking for my way into the tech industry.</p>
  </div>
  <div class="section">
    <!-- Add more content here -->
  </div>
</div>
