<% content_for :page_class, "info-page" %>
<div id="box">
  <div id="subheader">
    <h2>Web Developer</h2>
  </div>
  <%= partial "partials/navbar", locals: { current_page: 'info' } %>
  <%= partial "partials/socials" %>
  <div class="info-section">
    <p>
      Born in 1991 in New Orleans, USA.<br>
      Relocated to Japan in the spring of 2022.<br>
      This year, I completed Le Wagon's Full-Stack Web Development Bootcamp in Tokyo.<br>
      Excited to continue this journey and join a team where I can grow and contribute.
    </p>
  </div>
</div>
