<div id="box">
  <div id="subheader">
    <h2>Web Developer</h2>
  </div>
  <%= partial "partials/navbar", locals: { current_page: 'projects' } %>
  <%= partial "partials/socials" %>
  <div class="section">
    <p><!-- Your project content goes here --></p>
  </div>
</div>
